{% extends ['layout.html.twig','@MagnetarCoreBundle/layout.html.twig'] %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('index') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('index') }}
{% endblock %}

{% block content %}
	Strona główna
{% endblock %}
