{% extends ['base.html.twig','@MagnetarCoreBundle/base.html.twig'] %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('layout') }}
{{ encore_entry_link_tags('layout/header') }}
{{ encore_entry_link_tags('layout/header/logo') }}
{{ encore_entry_link_tags('layout/header/contact') }}
{{ encore_entry_link_tags('layout/header/login') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('layout') }}
{{ encore_entry_script_tags('layout/header') }}
{{ encore_entry_script_tags('layout/header/logo') }}
{{ encore_entry_script_tags('layout/header/contact') }}
{{ encore_entry_script_tags('layout/header/login') }}
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div id="header" class="row">
	{% block header %}
	{% include ['layout/header.html.twig','@MagnetarCoreBundle/layout/header.html.twig'] %}    	
	{% endblock %}
	</div>
	<nav class="menu">
	{% block menu %}
	{% include ['layout/menu.html.twig','@MagnetarCoreBundle/layout/menu.html.twig'] %}
	{% endblock %}
	</nav>
	<div class="row">
	    {% block messages %}
        {% for message in app.flashes('error') %}
		<div class="flash-error">{{ message }}</div>
	    {% endfor %}
        {% for message in app.flashes('notice') %}
		<div class="flash-notice">{{ message }}</div>
	    {% endfor %}
	    {% endblock %}
	</div>
	<div id="content" class="row">
		<div class="col-12">
			{% block content %}{% endblock %}
		</div>
	</div>
	<div id="footer" class="row">
		<div class="col-12">
    	    {% block footer %}
    	    {% include ['layout/footer.html.twig','@MagnetarCoreBundle/layout/footer.html.twig'] %}
    	    {% endblock %}
		</div>
	</div>
</div>
{% endblock %}
