{% extends ['layout.html.twig','@MagnetarCoreBundle/layout.html.twig'] %}

{% block title %}Log in!{% endblock %}

{% block content %}
<form method="post">
    {% if error %}
	<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'MagnetarCoreBundle') }}</div>
    {% endif %}
    <h1 class="h3 mb-3 font-weight-normal">{% trans %}Logowanie{% endtrans %}</h1>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" value="{{ lastUsername }}" name="email" id="inputEmail" class="form-control" placeholder="{% trans %}Email{% endtrans %}" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="{% trans %}Hasło{% endtrans %}" required>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html
    #}
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me">{% trans %}Zapamiętaj mnie{% endtrans %}
        </label>
    </div>
    <button class="btn btn-lg btn-primary" type="submit">
        {% trans %}Zaloguj{% endtrans %}
    </button>
</form>
{% endblock %}
