{{ form_start(form) }}
	{% block form_rows %}
    {{ form_row(form._token) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.email) }}
    {% endblock %}
	<div class="col-12 buttons">
		{% block form_buttons %}
        <button type="submit" class="btn btn-primary" formnovalidate>{% trans %}Załóż konto{% endtrans %}</button>
        {% endblock %}
	</div>
	<div class="d-none">
	    {{ form_rest(form) }}
	</div>
{{ form_end(form, {'render_rest': false}) }}
