{{ form_start(form) }}
	{% block form_rows %}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {% endblock %}
	<div class="col-12 buttons">
		{% block form_buttons %}
        <button type="submit" class="btn btn-primary" formnovalidate>{% trans %}Zarejestruj{% endtrans %}</button>
        {% endblock %}
	</div>
	<div class="d-none">
	    {{ form_rest(form) }}
	</div>
{{ form_end(form) }}
