<form action="{{ path('magnetar_core_users_login') }}" method="post">
	<div class="row">
		<div class="col">
			<div class="row">
            	<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            	<input type="text" name="email" placeholder="{% trans %}Email{% endtrans %}" />
            	<input type="password" name="password" placeholder="{% trans %}Hasło{% endtrans %}" />
			</div>
			<div class="row">
				<input type="checkbox" name="_remember_me" checked />
				Zapamiętaj mnie
			</div>
		</div>
		<div class="col-3">
			<input type="submit" value="Zaloguj" />		
		</div>
	</div>
	<div class="row">
		<div class="col">
			<a href="{{ path('magnetar_core_users_management_register') }}">Rejestracja konta</a>
		</div>
		<div class="col">
			<a href="{{ path('magnetar_core_users_management_change_password_send_token') }}">Reset hasła</a>
		</div>
	</div>
</form>
