<div id="logo" class="col-3">
	{% block logo %}
		{% include ['layout/header/logo.html.twig','@MagnetarCoreBundle/layout/header/logo.html.twig'] %}
	{% endblock %}
</div>
<div id="contact" class="col-5">
	{% block contact %}
		{% include ['layout/header/contact.html.twig','@MagnetarCoreBundle/layout/header/contact.html.twig'] %}
	{% endblock %}
</div>
<div id="login" class="col-3">
	{% block login %}
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			{% include ['layout/header/loggedin.html.twig','@MagnetarCoreBundle/layout/header/loggedin.html.twig'] %}
		{% else %}
		    {% include ['layout/header/login.html.twig','@MagnetarCoreBundle/layout/header/login.html.twig'] %}
		{% endif %}
	{% endblock %}
</div>
