<ul class="nav nav-pills">
	{% block menu_items %}
    {% if app.user %}
    <li class="nav-item">
    	<a class="nav-link" href="{{ path('magnetar_core_users_management_display') }}">Konto</a>
    </li>
    {% if is_granted('ROLE_SUPERUSER') %}
    <li class="nav-item">
    	<a class="nav-link" href="{{ path('magnetar_core_users_other_management_create') }}">Załóż konto</a>
    </li>
    {% endif %}
    {% endif %}
	{% endblock %}
</ul>
