{% extends ['layout.html.twig','@MagnetarCoreBundle/layout.html.twig'] %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('users/management/change-password-send-token') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('users/management/change-password-send-token') }}
{% endblock %}

{% block content %}
<div class="col-12">
	{% block view_header %}
   	<div class="col-12">
   		{% include ['users/management/change-password-send-token/header.html.twig','@MagnetarCoreBundle/users/management/change-password-send-token/header.html.twig'] %}
   	</div>
   	{% endblock %}
   	{% block form %}
   	<div class="col-12">
   		{% include ['users/management/change-password-send-token/form.html.twig','@MagnetarCoreBundle/users/management/change-password-send-token/form.html.twig'] %}
   	</div>
   	{% endblock %}
</div>
{% endblock %}
