{% extends ['layout.html.twig','@MagnetarCoreBundle/layout.html.twig'] %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('users/management/display') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('users/management/display') }}
{% endblock %}

{% block content %}
<div class="col-12">
	{% block view_header %}
   	<div class="col-12">
   		{% include ['users/management/display/header.html.twig','@MagnetarCoreBundle/users/management/display/header.html.twig'] %}
   	</div>
   	{% endblock %}
   	{% block user_data %}
   	<div class="col-12">
   		{% include ['users/management/display/data.html.twig','@MagnetarCoreBundle/users/management/display/data.html.twig'] %}
   	</div>
   	{% endblock %}
   	{% block options %}
   	<div class="options col-12">
   		{% include ['users/management/display/options.html.twig','@MagnetarCoreBundle/users/management/display/options.html.twig'] %}
   	</div>
   	{% endblock %}
</div>
{% endblock %}
