{% extends ['layout.html.twig','@MagnetarCoreBundle/layout.html.twig'] %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('users/management/remove') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('users/management/remove') }}
{% endblock %}

{% block content %}
<div class="col-12">
	{% block remove_message %}
   	<div class="row">
   	    {% include ['users/management/remove/message.html.twig','@MagnetarCoreBundle/users/management/remove/message.html.twig'] %}
   	</div>
   	{% endblock %}
   	{% block options %}
   	<div class="options row">
   		{% include ['users/management/remove/options.html.twig','@MagnetarCoreBundle/users/management/remove/options.html.twig'] %}
   	</div>
   	{% endblock %}
</div>
{% endblock %}
